* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* Banner */
.banner {
  width: 100%;
  height: 130px;
  background-image: url("https://img.freepik.com/fotos-gratis/halteres-no-chao-de-uma-academia-ai-generative_123827-23743.jpg");
  background-position: center;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/*Tentei deixar bem organizada a estrutura do css*/
.header-perfil {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  border-bottom: 2px solid #d9d9d9;
}

.informacao-perfil {
  display: flex;
  gap: 20px;
  align-items: center;

  object-fit: cover;
}

.foto-perfil {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-top: -40px;
  margin-left: 10px;
}

.estatisticas-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 45px;
}
.estatisticas {
  font-size: larger;
}

/*Algumas coisas estão bem "Improvisadas", por exemplo esses margin porque eu não estou conseguindo alinhar sempre do jeito que fizemos no figma*/
.biografia {
  font-size: 1rem;
  color: #666;
}

.perfil-detalhes {
  display: flex;
  width: 88%;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  color: #000;

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.perfil-detalhes h1 {
  font-size: 19px;
}
.perfil-detalhes p {
  font-size: 15px;
}

.botoes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 15px 0px;
  padding: 0px 3px;
}

.botao-seguir,
.botao-mensagem,
.botao-compartilhar {
  margin: 0px 5px;
  padding: 8px 22px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.botao-seguir {
  text-decoration: none;
  background-color: #00bf1f;
  color: white;
  border-radius: 20px;
  padding: 9px 30px;
}

.botao-mensagem {
  text-decoration: none;
  border: 2px solid #00bf1f;
  background-color: white;
  color: #00bf1f;
  border-radius: 30px;
  transition: border-color 0.3s ease;
}
.botao-compartilhar {
  text-decoration: none;
  border: 2px solid #00bf1f;
  background-color: white;
  color: #00bf1f;
  border-radius: 30px;
}

.maincontent{

  width: 100%;

  max-width: 600px;
  margin: 0px auto;
  padding: 10px;
}
.maincontent2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50%;
  max-width: 600px;
  margin: 0px auto;
  padding: 10px;
}

/* 1.1 - css dos blocos de postagem */
.postagem {
  /* bloco principal da postagem  */
  display: flex;
  gap: 8px;
  padding: 10px 8px 10px 10px;
  border-bottom: 2px solid #d9d9d9;
  
}
.postagem:last-child {
  margin-bottom: 70px; /* ajuste conforme o tamanho da bottom-nav */
}
.postagemcontent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  margin-top: 15px;
  
}

.postagemcontent > img {
  width: 265px;
  height: auto;
  border-radius: 11px;
}
/* 1.2 - FOTO DE PERFIL */
.profilePhoto img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.nomePerfil {
  margin-top: 8px;
}
/* 1.3 - conteúdo principal da postagem, nome de perfil, descrição e img(opicional) e as estatisticas */
.postagemcontent {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -10px;
}

.postagemcontent > img {
  width: 265px;
  height: auto;
  border-radius: 11px;
}

.estatisticasPostagem,
.iconsPostagem {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  text-align: center;
}

.iconsPostagem {
  margin-bottom: -10px;
}

.iconsPostagem img {
  width: auto;
  height: 25px;
  margin-top: 2px;
  margin-bottom: -20px;
}
/* 1.3.6 - botão de like: animações */
svg {
  cursor: pointer;
  overflow: visible;
  width: 40px;
  margin: -5px -5px 0px -5px;
  #heart {
    transform-origin: center;
    animation: animateHeartOut 0.3s linear forwards;
  }
  #main-circ {
    transform-origin: 29.5px 29.5px;
  }
}

#checkbox {
  display: none;
}

#checkbox:checked + label svg {
  #heart {
    transform: scale(0.2);
    fill: #ff0000;
    animation: animateHeart 0.3s linear forwards 0.25s;
  }
  #main-circ {
    transition: all 2s;
    animation: animateCircle 0.3s linear forwards;
    opacity: 1;
  }
  #grp1 {
    opacity: 1;
    transition: 0.1s all 0.3s;
    #oval1 {
      transform: scale(0) translate(0, -30px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #oval2 {
      transform: scale(0) translate(10px, -50px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
  }
  #grp2 {
    opacity: 1;
    transition: 0.1s all 0.3s;
    #oval1 {
      transform: scale(0) translate(30px, -15px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #oval2 {
      transform: scale(0) translate(60px, -15px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
  }
  #grp3 {
    opacity: 1;
    transition: 0.1s all 0.3s;
    #oval1 {
      transform: scale(0) translate(30px, 0px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #oval2 {
      transform: scale(0) translate(60px, 10px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
  }
  #grp4 {
    opacity: 1;
    transition: 0.1s all 0.3s;
    #oval1 {
      transform: scale(0) translate(30px, 15px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #oval2 {
      transform: scale(0) translate(40px, 50px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
  }
  #grp5 {
    opacity: 1;
    transition: 0.1s all 0.3s;
    #oval1 {
      transform: scale(0) translate(-10px, 20px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #oval2 {
      transform: scale(0) translate(-60px, 30px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
  }
  #grp6 {
    opacity: 1;
    transition: 0.1s all 0.3s;
    #oval1 {
      transform: scale(0) translate(-30px, 0px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #oval2 {
      transform: scale(0) translate(-60px, -5px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
  }
  #grp7 {
    opacity: 1;
    transition: 0.1s all 0.3s;
    #oval1 {
      transform: scale(0) translate(-30px, -15px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #oval2 {
      transform: scale(0) translate(-55px, -30px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
  }
  #grp2 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #grp3 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #grp4 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #grp5 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #grp6 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #grp7 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
.pessoas {
  margin-left: 15px;
  display: flex;
  gap: 3px;
  align-items: center;

  
}
.estatisticasPostagem .pessoas img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -15px;
  border: 2px solid white;

  object-fit: cover;
}
/* 1.3.6 ------ closed */
/* Bottom Navigation Bar */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 20px 20px 0px 0px;
  border: 2px solid #f1efef;
  background-color: rgb(255, 255, 255);
  padding: 18px 0;
}

.nav-item {
  color: #444;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.search{
  padding: 69px;
    text-align: center;
    
}

@media (max-width: 1024px) {
  .profile-main {
    padding: 8px;
  }
  .stats {
    gap: 10px;
  }
}
