body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Banner */
.banner {
  width: 110%;
  height: 200px;
  background-image: url('https://img.freepik.com/fotos-gratis/halteres-no-chao-de-uma-academia-ai-generative_123827-23743.jpg'); 
  background-position: center;
}
.main{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/*Tentei deixar bem organizada a estrutura do css*/
.header-perfil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

.informacao-perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.foto-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -100px;
    margin-left: 10px;
}

.estatisticas-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 30px;
    margin-left: 50px;
    margin-top: 100px;
}
.estatisticas{
  margin-top: -100px;
  font-size: larger;
}

.perfil-detalhes {
    text-align: center;
    margin-top: -40px;
    border-radius: 40px;
    
    
}

h1 {
    font-size: 1.2rem;
    margin-right: 40px;

}
    /*Algumas coisas estão bem "Improvisadas", por exemplo esses margin porque eu não estou conseguindo alinhar sempre do jeito que fizemos no figma*/
.biografia {
    font-size: 1rem;
    color: #666;
    margin-left: 30px;
    margin-top:-10px;
}


.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.botao-seguir, .botao-mensagem, .botao-compartilhar{
    margin: 0 8px;
    padding: 8px 22px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.botao-seguir {
    text-decoration: none;
    background-color: #1dca02;
    color: white;
    border-radius: 10px;
}

.botao-mensagem{
    text-decoration: none;
    border: 2px solid #1dca02;
    background-color: white;
    color: #1dca02;
    border-radius: 10px;
    transition: border-color 0.3s ease;
    
}
.botao-compartilhar{
    text-decoration: none;
    border: 2px solid #1dca02;
    background-color: white;
    color: #1dca02;
    border-radius: 10px;
}

.feed {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

.postagem {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.postagem-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foto-usuario{
    width: 50px ;
    height: 50px;
    border-radius: 50%;
}
/*Eu não sei como alinhar sem utilizar esse margin, caso alguem possa mudar vai ser bom*/
.nome-usuario {
    font-weight: bold;
    font-size: 1rem;
    margin-left: -370px;
}


.texto-postagem {
    margin-top: 1px;
    font-size: 0.9rem;
    margin-left: 60px;
}

.imagem-postagem {
    width: 50%;
    border-radius: 10px;
    margin-top: 10px;
}
/* 1.3.6 - botão de like: animações */
svg {
    cursor: pointer;
    overflow: visible;
    width: 40px;
    margin: -5px -5px 0px -5px;
    #heart {
      transform-origin: center;
      animation: animateHeartOut 0.3s linear forwards;
    }
    #main-circ {
      transform-origin: 29.5px 29.5px;
    }
  }
  
  #checkbox {
    display: none;
  }
  
  #checkbox:checked + label svg {
    #heart {
      transform: scale(0.2);
      fill: #ff0000;
      animation: animateHeart 0.3s linear forwards 0.25s;
    }
    #main-circ {
      transition: all 2s;
      animation: animateCircle 0.3s linear forwards;
      opacity: 1;
    }
    #grp1 {
      opacity: 1;
      transition: 0.1s all 0.3s;
      #oval1 {
        transform: scale(0) translate(0, -30px);
        transform-origin: 0 0 0;
        transition: 0.5s transform 0.3s;
      }
      #oval2 {
        transform: scale(0) translate(10px, -50px);
        transform-origin: 0 0 0;
        transition: 1.5s transform 0.3s;
      }
    }
    #grp2 {
      opacity: 1;
      transition: 0.1s all 0.3s;
      #oval1 {
        transform: scale(0) translate(30px, -15px);
        transform-origin: 0 0 0;
        transition: 0.5s transform 0.3s;
      }
      #oval2 {
        transform: scale(0) translate(60px, -15px);
        transform-origin: 0 0 0;
        transition: 1.5s transform 0.3s;
      }
    }
    #grp3 {
      opacity: 1;
      transition: 0.1s all 0.3s;
      #oval1 {
        transform: scale(0) translate(30px, 0px);
        transform-origin: 0 0 0;
        transition: 0.5s transform 0.3s;
      }
      #oval2 {
        transform: scale(0) translate(60px, 10px);
        transform-origin: 0 0 0;
        transition: 1.5s transform 0.3s;
      }
    }
    #grp4 {
      opacity: 1;
      transition: 0.1s all 0.3s;
      #oval1 {
        transform: scale(0) translate(30px, 15px);
        transform-origin: 0 0 0;
        transition: 0.5s transform 0.3s;
      }
      #oval2 {
        transform: scale(0) translate(40px, 50px);
        transform-origin: 0 0 0;
        transition: 1.5s transform 0.3s;
      }
    }
    #grp5 {
      opacity: 1;
      transition: 0.1s all 0.3s;
      #oval1 {
        transform: scale(0) translate(-10px, 20px);
        transform-origin: 0 0 0;
        transition: 0.5s transform 0.3s;
      }
      #oval2 {
        transform: scale(0) translate(-60px, 30px);
        transform-origin: 0 0 0;
        transition: 1.5s transform 0.3s;
      }
    }
    #grp6 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    #oval1 {
        transform: scale(0) translate(-30px, 0px);
        transform-origin: 0 0 0;
        transition: 0.5s transform 0.3s;
      }
      #oval2 {
        transform: scale(0) translate(-60px, -5px);
        transform-origin: 0 0 0;
        transition: 1.5s transform 0.3s;
      }
    }
    #grp7 {
      opacity: 1;
      transition: 0.1s all 0.3s;
      #oval1 {
        transform: scale(0) translate(-30px, -15px);
        transform-origin: 0 0 0;
        transition: 0.5s transform 0.3s;
      }
      #oval2 {
        transform: scale(0) translate(-55px, -30px);
        transform-origin: 0 0 0;
        transition: 1.5s transform 0.3s;
      }
    }
    #grp2 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    #grp3 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    #grp4 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    #grp5 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    #grp6 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    #grp7 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
  }
  
  @keyframes animateCircle {
    40% {
      transform: scale(10);
      opacity: 1;
      fill: #dd4688;
    }
    55% {
      transform: scale(11);
      opacity: 1;
      fill: #d46abf;
    }
    65% {
      transform: scale(12);
      opacity: 1;
      fill: #cc8ef5;
    }
    75% {
      transform: scale(13);
      opacity: 1;
      fill: transparent;
      stroke: #cc8ef5;
      stroke-width: 0.5;
    }
    85% {
      transform: scale(17);
      opacity: 1;
      fill: transparent;
      stroke: #cc8ef5;
      stroke-width: 0.2;
    }
    95% {
      transform: scale(18);
      opacity: 1;
      fill: transparent;
      stroke: #cc8ef5;
      stroke-width: 0.1;
    }
    100% {
      transform: scale(19);
      opacity: 1;
      fill: transparent;
      stroke: #cc8ef5;
      stroke-width: 0;
    }
  }
  
  @keyframes animateHeart {
    0% {
      transform: scale(0.2);
    }
    40% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes animateHeartOut {
    0% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
  /* 1.3.6 ------ closed */

@media (max-width: 600px) {
    .profile-main {
        padding: 8px;
    }
    .stats {
        gap: 10px;
    }
}
