* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Estilo do Header */
.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
  padding: 10px 20px 0px 20px;
  border-bottom: 2px solid #d9d9d9;
  z-index: 1000;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 43%;
}

.logo img {
  width: auto;
  height: 37px;
}

.logo span {
  font-size: 18px;
  font-weight: 500;
  color: #00bf1f;
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.tab {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.tab.active {
  color: #000;
  font-weight: bold;
  border-bottom: 3px solid #00bf1f;
}

/* 1 - conteúdo principal */
.maincontent {
  margin: 93px 0px 0px 0px;/* margin para compensar o header */


}

/* 1.1 - css dos blocos de postagem */
.postagem {
  /* bloco principal da postagem  */
  display: flex;
  gap: 8px;
  width: 100%;
  padding: 20px 18px 10px 18px;
  border-bottom: 2px solid #d9d9d9;
}
/* 1.2 - FOTO DE PERFIL */
.profilePhoto img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* 1.3 - conteúdo principal da postagem, nome de perfil, descrição e img(opicional) e as estatisticas */
.postagemcontent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.postagemcontent > img {
  width: 265px;
  height: auto;
  border-radius: 11px;
}

.estatisticasPostagem,
.iconsPostagem {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  text-align: center;
}

.iconsPostagem {
  margin-bottom: -10px;
}

.iconsPostagem img {
  width: auto;
  height: 25px;
  margin-top: 2px;
}
/* 1.3.6 - botão de like: animações */
svg {
  cursor: pointer;
  overflow: visible;
  width: 40px;
  margin: -5px -5px 0px -5px;
  #heart {
    transform-origin: center;
    animation: animateHeartOut 0.3s linear forwards;
  }
  #main-circ {
    transform-origin: 29.5px 29.5px;
  }
}

#checkbox {
  display: none;
}

#checkbox:checked + label svg {
  #heart {
    transform: scale(0.2);
    fill: #ff0000;
    animation: animateHeart 0.3s linear forwards 0.25s;
  }
  #main-circ {
    transition: all 2s;
    animation: animateCircle 0.3s linear forwards;
    opacity: 1;
  }
  #grp1 {
    opacity: 1;
    transition: 0.1s all 0.3s;
    #oval1 {
      transform: scale(0) translate(0, -30px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #oval2 {
      transform: scale(0) translate(10px, -50px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
  }
  #grp2 {
    opacity: 1;
    transition: 0.1s all 0.3s;
    #oval1 {
      transform: scale(0) translate(30px, -15px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #oval2 {
      transform: scale(0) translate(60px, -15px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
  }
  #grp3 {
    opacity: 1;
    transition: 0.1s all 0.3s;
    #oval1 {
      transform: scale(0) translate(30px, 0px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #oval2 {
      transform: scale(0) translate(60px, 10px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
  }
  #grp4 {
    opacity: 1;
    transition: 0.1s all 0.3s;
    #oval1 {
      transform: scale(0) translate(30px, 15px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #oval2 {
      transform: scale(0) translate(40px, 50px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
  }
  #grp5 {
    opacity: 1;
    transition: 0.1s all 0.3s;
    #oval1 {
      transform: scale(0) translate(-10px, 20px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #oval2 {
      transform: scale(0) translate(-60px, 30px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
  }
  #grp6 {
    opacity: 1;
    transition: 0.1s all 0.3s;
    #oval1 {
      transform: scale(0) translate(-30px, 0px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #oval2 {
      transform: scale(0) translate(-60px, -5px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
  }
  #grp7 {
    opacity: 1;
    transition: 0.1s all 0.3s;
    #oval1 {
      transform: scale(0) translate(-30px, -15px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #oval2 {
      transform: scale(0) translate(-55px, -30px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
  }
  #grp2 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #grp3 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #grp4 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #grp5 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #grp6 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #grp7 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
/* 1.3.6 ------ closed */

.pessoas {
  margin-left: 15px;
  display: flex;
  gap: 3px;
  align-items: center;
}
.estatisticasPostagem .pessoas img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -15px;
  border: 2px solid white;
}

/* Botão de postagem */
.postButton {
  position: fixed;
  bottom: 60px;
  right: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  border: none;
  border-radius: 50%;

  background-color: #00bf1f;
  color: white;
  font-size: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.postButton:hover {
  background-color: #00a41e;
  transition: 0.9s;
}

/* modal de criação de postagem */

.modal {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  z-index: 9999;
  top: 0%;
  width: 100%;
  height: 100%;
  padding: 20px 20px 0px 20px;
  overflow: auto;
  background-color: rgb(255, 255, 255);
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  
}

.modal-content span.close {
  display: inline-block;
  align-self: flex-start;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.modal .postText {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: flex-start;
}

.headerPost{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  margin-bottom: 250px;
}

#textPost {
  width: 100%;
  height: 170px;
  resize: none;
  border: none;
  font-size: 17px;
  font-weight: 500;
  margin-top: 10px;
}
#textPost::placeholder {
  font-size: 17px;
  font-weight: 600;
}
textarea:focus {
  outline: none;
}

    /* nav botton do modal de postagem */
.navbottomPost {
  position: fixed;
  bottom: 10;
  left: auto;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 50px;
  
  border: 1px solid #00bf1f;
}
.modal button {
  width: 30%;
  height: 30px;
  background-color: #07da65;
  border: none;
  border-radius: 25px;
  color: #2c2c2c;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
/* Bottom Navigation Bar */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 20px 20px 0px 0px;
  border: 2px solid #f1efef;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 18px 0;
}

.nav-item {
  color: #444;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

@media screen and (max-width: 1024px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  .modal-content {
   flex-direction: column-reverse;
    
  }
}
