
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f5;
}
.voltar{
    display: flex;
    align-items: flex-start;
}

/* Container principal */

.payment-container {
  width: 100%;
  max-width: 600px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.payment-container h2 {
  margin-bottom: 20px;
  color: #333;
  
}

/* Cartão de crédito */
.credit-card-box {
  margin-bottom: 40px;
  
}
.card {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  background: linear-gradient(135deg, #bd6772, #53223f);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
.card .logo {
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.card .number,
.card .name,
.card .expiration {
  font-size: 18px;
  margin: 10px 0;
}

/* Formulário de pagamento */
.payment-form label {
  font-size: 14px;
  color: #000000;
  display: block;
  margin-bottom: 5px;
  text-align: left;
  
}

.payment-form input {
  display: flex;
  flex-direction: column;
  width: 303px;
  height: 47px;
  flex-shrink: 0;
  
  background-color: #f7fdff;
  border: 1px solid #cdcdcd;
  border-radius: 25px;
  padding: 20px;
  font-size: 20px;
}

.payment-form .row {
  display: flex;
  gap: 10px;
}

.payment-form .col {
 display: flex;
 flex-direction: column ;
 align-items: flex-start;
  flex: 1;
  gap: 5px;
}

/* Botão de pagamento */
.btn {
  width: 100%;
  padding: 15px;
  background: #00bf1f;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 20px;
}

.btn:hover {
  background: #3d8281;
}

/* Responsividade */
@media (max-width: 480px) {
  .payment-container {
    padding: 15px;
  }

  .credit-card-box {
    height: 180px;
  }

  .card .logo {
    font-size: 18px;
  }

  .payment-form input {
    padding: 8px;
    font-size: 14px;
  }

  .btn {
    padding: 12px;
  }
}
